footer {
    margin-top: 80px;
    padding-top: 40px;
    background-color: #101622;
    color: #fff;
}

footer .container {
    padding-bottom: 60px;
}

footer .info_socials ul {
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
    flex-flow: wrap;
}

footer .info_socials li {
    margin-right: 20px;
}

footer .info_socials a {
    color: #fff;
    text-decoration: none;
}

footer .info_enterp {
    padding-right: 60px;
}

footer .info_enterp img {
    margin-left: -15px;
    margin-bottom: 25px;
}

footer .info_address {
    padding-right: 40px;
}

footer .site_pages ul {
    list-style: none;
    padding: 0;
}

footer .site_pages li {
    margin-bottom: 10px;
}

footer .site_pages li a {
    text-decoration: none;
    color: #fff;
}

footer .container_item h2{
    font-size: 1rem;
    font-weight: bold;
    margin-top: 65px;
    margin-bottom: 40px;
}

footer .copyright .container {
    border-top: 1px solid #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 0.6rem;
}